<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'template/admin/header.twig' %}
    <style>{% block page_style %}{% endblock %}</style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'template/admin/navigation.twig' %}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{% block page_name %}{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2024 <a href="#">SaladStack</a>.</strong>
            All rights reserved.
        </footer>
    </div>

    {% include 'template/admin/footer.twig' %}
    <script>{% block page_script %}{% endblock %}</script>
</body>
</body>
</html>