<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'template/admin/header.twig' %}
</head>
<body class="hold-transition login-page">
    {% block body %}{% endblock %}
    {% include 'template/admin/footer.twig' %}
</body>
</body>
</html>