{% extends 'template/admin/_post.twig' %}
{% block page_name %}Dashboard{% endblock %}
{% block body %}
  <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3 col-6">
                  <div class="small-box bg-info">
                      <div class="inner">
                          <h3>150</h3>
                          <p>New Orders</p>
                      </div>
                      <div class="icon">
                          <i class="fas fa-shopping-cart"></i>
                      </div>
                      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}