<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'template/site/header.twig' %}
</head>
<body>
    {% include 'template/site/navigation.twig' %}
    {% block body %}{% endblock %}
    {% include 'template/site/footer.twig' %}
</body>
</html>