{% extends 'template/admin/_pre.twig' %}

{% block body %}
<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>Login
  </div>
  <div class="card">
      <div class="card-body login-card-body">
          <form action="{{ '/admin/login/submit' | base_url }}" method="post">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" name="email" placeholder="Email Address" required>
                  <div class="input-group-append">
                      <div class="input-group-text">
                          <span class="fas fa-user"></span>
                      </div>
                  </div>
              </div>
              <div class="input-group mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                  <div class="input-group-append">
                      <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-4">
                      <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}